<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="spuSaleAttr_dlg" class="easyui-dialog" title="编辑销售属性" style="width:500px;height:400px;"
     closed="true" data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuSaleAttrBtns">
    <br/><br/>
    <!------------------从基本销售属性中选择------------->
    销售属性： <select name="saleAttr" id="saleAttrSelect" class="easyui-combobox" data-options="valueField:'id',
                      textField:'name',url:'baseSaleAttrList'" style="width:100px"> </select>
    <br/><br/>


    <!----------------销售属性值列表---------------------------->
    <table id="spuSaleAttrValueDg" class="easyui-datagrid" title="销售属性值列表"
           data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrValueTootbar'"></table>


    <!----------------销售属性值列表工具栏----------------------->
    <div id="spuSaleAttrValueTootbar" style="padding:5px;height:auto">
        <div style="margin-bottom:5px">
            <a href="#" id="spuSaleAttrValueAddBtn" class="easyui-linkbutton" iconCls="icon-add"
               onclick="addSpuSaleAttrValue()" plain="true">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeSpuSaleAttrValue()">删除</a>
        </div>
    </div>


    <div id="spuSaleAttrBtns">
        <a href="#" class="easyui-linkbutton" onclick="saveSpuSaleAttr()">确 定</a>
        <a href="#" class="easyui-linkbutton" onclick="closeSpuSaleAttr()">关 闭</a>
    </div>
</div>

<script th:inline="none">

    var spuSaleAttrValueDg = $("#spuSaleAttrValueDg");

    function initSpuSaleAttrDlg(spuId, spuSaleAttr) {

        spuSaleAttrValueDg.datagrid('loadData', { total: 0, rows: [] });

        spuSaleAttrValueDg.datagrid({

            columns: [[
                {field: 'id', title: '销售属性值Id', width: '25%'},
                {field: 'saleAttrId', title: '销售属性Id', hidden: true},
                {
                    field: 'saleAttrValueName', title: '销售属性值名称', width: '75%',
                    editor: {
                        type: 'validatebox', options: {required: true}  //必填项
                    }
                }
            ]],
            onDblClickRow: function (rowIndex, rowData) {
                //双击开启编辑行
                spuSaleAttrValueDg.datagrid("beginEdit", rowIndex);
                //设定当失去焦点时,退出编辑状态
                var saleAttrValueName = rowData.saleAttrValueName;
                $("input.datagrid-editable-input").val(saleAttrValueName).bind("blur", function (evt) {
                    spuSaleAttrValueDg.datagrid('endEdit', rowIndex);
                });
            }
        });

        if(spuSaleAttr){
            console.log("加载暂存");
            spuSaleAttrValueDg.datagrid("loadData",spuSaleAttr.spuSaleAttrValueJson);
            // $('#saleAttrSelect').combobox("slecet")
        }


    }

    function saveSpuSaleAttr() {

        var $saleAttrSelect = $('#saleAttrSelect');

        var spuSaleAttrValueJson = $('#spuSaleAttrValueDg').datagrid('getRows');
        console.log(spuSaleAttrValueJson);
        var saleAttrId = $saleAttrSelect.combobox("getValue");
        var saleAttrName = $saleAttrSelect.combobox("getText");

        var $spuSaleAttrDg = $("#spuSaleAttrDg");

        var rowIndex = $spuSaleAttrDg.datagrid("getRowIndex", saleAttrId);
        console.log("delete rowIndex:" + rowIndex);
        if (rowIndex >= 0) {
            $spuSaleAttrDg.datagrid("deleteRow", rowIndex);
        }

        $spuSaleAttrDg.datagrid("appendRow", {
            saleAttrId: saleAttrId,
            saleAttrName: saleAttrName,
            spuSaleAttrValueJson: spuSaleAttrValueJson
        });


        closeSpuSaleAttr();
    }

    function closeSpuSaleAttr() {
        $("#spuSaleAttr_dlg").dialog("close")
    }

    function addSpuSaleAttrValue() {

        spuSaleAttrValueDg.datagrid("appendRow", {
            saleAttrValueName: ""
        })
    }


</script>

</body>
</html>